/* variables */
/*layouts*/
header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px 6.25rem;
  width: 100%;
  background-color: aliceblue;
}
header nav {
  width: 70%;
}
header nav .navBar {
  display: flex;
  gap: 40px;
  padding-right: 20px;
  list-style: none;
}
header nav .navBar li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
header nav .navBar li a:hover {
  font-family: verdana;
  color: #222831;
}
header .hamburguer {
  display: none;
  cursor: pointer;
}
header div {
  display: none;
  cursor: pointer;
}
header .newsletter-subtitle {
  margin-bottom: 40px;
}

footer .footer-container-main {
  background-color: black;
}
footer .footer-container {
  margin-top: 40px;
}
footer .container-newsletter {
  position: relative;
  top: 6.25rem;
}
footer .container-form-newletter {
  position: relative;
  top: 6.25rem;
}
footer .button-form {
  position: relative;
  top: 6.25rem;
}

main .title-principal {
  display: flex; /* Activates Flexbox layout for its children */
  justify-content: center; /* Centers children horizontally */
  align-items: center; /* Centers children vertically */
  padding-bottom: 70px;
}
main .title-secondary {
  text-align: center;
}
main .globo-image {
  max-width: 100%;
  min-width: 1%;
  height: auto;
  padding-left: 80px;
}
main h2 {
  display: flex; /* Activates Flexbox layout for its children */
  justify-content: center; /* Centers children horizontally */
  align-items: center; /* Centers children vertically */
  padding-top: 30px;
  padding-bottom: 30px;
}
main .data-table {
  display: flex;
  margin: 30px;
}
main .data-table .table-item {
  width: 100%;
  text-align: center;
  padding: 30px 20px;
  border: 1px solid black;
}
main .container {
  display: flex;
  justify-content: center;
}
main .container .card-article {
  width: 18.75rem;
  height: 21.25rem;
  border: 1px solid black;
  border-radius: 20px;
  overflow: hidden;
  margin: 20px;
}
main .container .card-article figure {
  width: 100%;
  height: 50%;
}
main .container .card-article figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .fluid-layout-container {
  margin-top: 30px;
}
main .fluid-layout-container .fluid-layout {
  position: relative;
  left: 10.28rem;
  bottom: 5.32rem;
}
main .contenido-familias-pioneras {
  width: 16.25rem;
  height: 12.35rem;
}
main .contenido-familias-pioneras .contenido img {
  width: 100%;
  height: 50%;
}
main .contenido-familias-pioneras .contenido-texto-familias {
  position: relative;
  left: 18.28rem;
  bottom: 12.32rem;
}

main .contenedor-hijo {
  display: flex;
  grid-template-columns: auto auto auto;
  grid-template-rows: 80px 200px;
  grid-gap: 60px 70px;
  background-color: #2196F3;
  padding: 10px;
}
main .contenedor-hijo .articulo-hijo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
main .contenedor-hijo .imagen-articulo {
  width: 18.75rem;
  height: 10.25rem;
}
main .contenedor-hijo figure {
  width: 60%;
  height: 50%;
}
main .contenedor-hijo figure img {
  width: 100%;
  height: 100%;
}

main .box-root {
  text-align: center;
}
main .form-container {
  display: grid;
  place-items: center;
}
main .footer-link .listing {
  display: grid;
  place-items: center;
}

main .feature-knowledge-header {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  margin-top: 100px;
}
main .features-post-list .card {
  margin-top: 80px;
}
main .showcase {
  background-color: aliceblue;
}
main .showcase .div-container .hero-wrapper {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
main .showcase .div-container .hero-wrapper .hero-description {
  grid-column-start: 1;
  grid-column-end: 1;
}
main .showcase .div-container .hero-text h1 {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
}
main .showcase .btn {
  grid-column-start: 1;
  grid-column-end: 1;
  text-align: left;
  margin-bottom: 20px;
}
main .showcase .hero-graphic-wrapper {
  grid-column-start: 2;
  grid-row: 2;
}

@media (max-width: 425px) {
  .navBar {
    flex-direction: column;
    justify-content: none;
    align-items: left;
    gap: 1.25rem;
  }
}
@media screen and (max-width: 768px) {
  header {
    justify-content: space-around;
  }
  .navBar {
    padding-right: none;
  }
  .navBar li a {
    font-size: 30px;
  }
  .team-cards {
    display: flex;
    flex-direction: column;
  }
  .team-card {
    width: 85%;
    margin: 25px auto;
  }
  .contenido-texto-familias {
    text-align: left;
  }
}
@media (max-width: 840px) {
  header {
    flex-direction: column;
    justify-content: none;
    align-items: center;
  }
}
@media (max-width: 1070px) {
  .nav {
    /* position:fixed; */
    top: 70px;
    left: 0;
    width: 100%;
    padding: 10px 0 25px;
  }
  .navBar {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  .bar {
    height: 2px;
    width: 27px;
    background: black;
    margin: 5px 0;
    opacity: 0.8;
  }
  .hamburguer {
    display: block;
  }
  .showcase .hero-graphic-wrapper {
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .div-container .hero-text {
    margin-left: 80px;
  }
  .div-container .hero-description {
    margin-top: 80px;
    margin-left: 100px;
    padding: 10px 0 25px;
  }
  .btn {
    margin-left: 80px;
  }
  .card {
    margin-left: 70px;
    max-width: 850px;
  }
  .btn-group {
    padding-top: 2%;
    margin-left: 70px;
  }
  .search {
    padding-top: 10%;
    margin-left: 70px;
  }
  .fluid-layout h1 {
    margin-top: 150px;
    margin-right: 1200px;
    position: relative;
  }
  .fluid-layout .descripcion-entrada {
    margin-right: 800px;
  }
}
@media (max-width: 1400px) {
  .card {
    margin-left: 130px;
    max-width: 1120px;
  }
  .btn-group {
    padding-top: 2%;
    margin-left: 130px;
  }
  .search {
    padding-top: 10%;
    margin-left: 130px;
  }
}
/* components */
main .our-team-section .team-cards {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-left: 100px;
}
main .our-team-section .team-cards .team-card {
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  margin: 0px 20px;
  padding: 20px;
  text-align: center;
  transition: transform 0.6s ease;
  width: calc(33.33% - 20px);
  overflow: hidden;
}
main .our-team-section .team-cards .team-card:hover {
  transform: translateY(-12px);
}
main .our-team-section .team-cards .team-card .team-image img {
  border-radius: 50%;
  height: 130px;
  width: 130px;
  object-fit: cover;
  margin-bottom: 10px;
}
main .our-team-section .team-cards .team-card .team-image img .president-image {
  width: 20.75rem;
  height: 18.25rem;
  margin-left: 0px;
}
main .our-team-section .team-cards .team-card .team-detail p {
  color: #426385;
  font-size: 18px;
}
main .our-team-section .team-cards .team-card .team-detail h3 {
  color: black;
  font-size: 30px;
  margin: 15px 0px;
}

/*# sourceMappingURL=style.css.map */
