footer{
    .footer-container{
        margin-top: 90px;
        background-color: lightgray;
    }

    .copyright{
        background-color: lightgray;
    }
    .container-newsletter{
        position:relative;
        top: 6.25rem;
    }
    .container-form-newletter{
        position:relative;
        top:6.25rem;
    }
    .button-form{
        position:relative;
        top:6.25rem;
    }
}
