footer{

    .footer-container-main{
        background-color: black;
    }
    .footer-container{
        margin-top: 40px;

    }
    .container-newsletter{
        position:relative;
        top: 6.25rem;
    }
    .container-form-newletter{
        position:relative;
        top:6.25rem;
    }
    .button-form{
        position:relative;
        top:6.25rem;
    }
}
