main {
    .box-root{
        text-align: center;
    }
    .form-container{
        display:grid;
        place-items: center;
    }
    .footer-link{
        .listing{
            display: grid;
            place-items: center;
        }
    }
}