@media (max-width:1400px){
    .card{
        margin-left: 130px;
        max-width: 1120px;
    }

    .btn-group{
        padding-top: 2%;
        margin-left: 130px ;
    }
    
    .search{
        padding-top: 10%;
        margin-left: 130px;
    }    
}